  <div class="jumbotron">
    <h1 class="title">18K Offer</h1>
    <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
     凭借自己的努力和天份也会变 Winner
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

<!--  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>北京朝阳建外SOHO</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>info@18koffer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <div id="footer">
  		<div class="foot_bgline">
  			<span title="客服电话" class="tel">客服电话：010-12341234（工作日9:30-22:00）&nbsp;&nbsp;&nbsp;</span>|
                          <span title="" class="tel">会员卡代理热线：010-85897794</span>-->
  		</div>
  		<p>
  			<a href="#" title="关于我们" target="_blank" class="">关于我们</a>|
  			<a href="#" title="诚聘英才" target="_blank" class="">诚聘英才</a>|
  			<a href="#" title="联系我们" target="_blank" class="">联系我们</a>|
  			<a href="#" title="帮助中心" target="_blank" class="help">帮助中心</a>|
  			<a href="javascript:void(0);" onclick="FeedbackUtil.feed('/account/suggestion.php?action=save');"  title="意见反馈"  class="opinion">意见反馈</a>
  		</p>
  	</div>






<link media="all" type="text/css" rel="stylesheet" href="http://i3.umivi.net/u/2015/public/css/vheader.css">





    <div class="wrapper">
