
  <div class="jumbotron">
    <h1 class="title">顺顺 招聘网</h1>
    <p class="slogan">为您提供招聘和求职服务的网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上
    <br>
    高薪且优质的工作。
    <br>
     成为人生大赢家
    </p>
    <p class="lead">
          <a class="btn btn-lg btn-danger" href="/jobs">马上应征</a>
          <a class="btn btn-lg btn-danger-new" href="/admin/jobs/new">发布职位</a>
    </p>


  </div>


  <section id="t-cards">
      <div class="container">
          <div class="row">
               <div class="col-sm-6 col-md-3">
                  <div class="panel panel-default panel-card">
                      <div class="panel-heading">
                          <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                      </div>
                      <div class="panel-figure">
                          <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                      </div>
                      <div class="panel-body text-center">
                          <h4 class="panel-header"><a href="#">@Kate</a></h4>
                          <small>评价很好</small>
                      </div>
                      <div class="panel-thumbnails">
                          <div class="row">
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww2.sinaimg.cn/large/006tNc79jw1fc7xphgg4zj301c01cdfm.jpg" />
                                  </div>
                              </div>
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fc7xt71ratj301c01c3ya.jpg" />
                                  </div>
                              </div>
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fc7xzsb8zzj301c01c3yb.jpg" />
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
      		</div>
  		    <div class="col-sm-6 col-md-3">
          	    <div class="panel panel-default panel-card">
                      <div class="panel-heading">
                          <img src="https://unsplash.imgix.net/41/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg?q=75&fm=jpg&s=a760fd82863937c841f4b3870cdef011" />
                      </div>
                      <div class="panel-figure">
                          <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/josue/73.jpg" />
                      </div>
                      <div class="panel-body text-center">
                          <h4 class="panel-header"><a href="#">@abbey</a></h4>
                          <small>使用方便</small>
                      </div>
                      <div class="panel-thumbnails">
                          <div class="row">
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fc7xr8oivjj301c01cdfm.jpg" />
                                  </div>
                              </div>
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww3.sinaimg.cn/large/006tNc79jw1fc7xp30yfij301c01cq2p.jpg" />
                                  </div>
                              </div>
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww3.sinaimg.cn/large/006tNc79jw1fc7xoihsadj301c01c3ya.jpg" />
                                  </div>
                              </div>
                          </div>
                      </div>
              	</div>
      		</div>
              <div class="col-sm-6 col-md-3">
                  <div class="panel panel-default panel-card">
                      <div class="panel-heading">
                          <img src="https://ununsplash.imgix.net/19/waves.JPG?q=75&fm=jpg&s=6f316bc8e1dc9887a7cebe0841096e99" />
                      </div>
                      <div class="panel-figure">
                          <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mutlu82/73.jpg" />
                      </div>
                      <div class="panel-body text-center">
                          <h4 class="panel-header"><a href="#">@Danny</a></h4>
                          <small>响应及时</small>
                      </div>
                      <div class="panel-thumbnails">
                          <div class="row">
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww2.sinaimg.cn/large/006tNc79jw1fc7xlbe5lsj301c01cmwx.jpg" />
                                  </div>
                              </div>
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fc7xn3kz7rj301c01c742.jpg" />
                                  </div>
                              </div>
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fc7wzz1wojj301c01cdfm.jpg" />
                                  </div>
                              </div>

                          </div>
                      </div>
              	</div>
      		</div>
              <div class="col-sm-6 col-md-3">
                  <div class="panel panel-default panel-card">
                      <div class="panel-heading">
                          <img src="https://ununsplash.imgix.net/26/camera-keys.jpg?q=75&fm=jpg&s=b919d3158053cde8e9f0e37b4876c14f" />
                      </div>
                      <div class="panel-figure">
                          <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/nisaanjani/73.jpg" />
                      </div>
                      <div class="panel-body text-center">
                          <h4 class="panel-header"><a href="#">@Tina</a></h4>
                          <small>推荐使用</small>
                      </div>
                      <div class="panel-thumbnails">
                          <div class="row">
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fc7wxo9xs8j301c01c0si.jpg" />
                                  </div>
                              </div>
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fc7wzz1wojj301c01cdfm.jpg" />
                                  </div>
                              </div>
                              <div class="col-xs-4">
                                  <div class="thumbnail">
                                      <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fc7xnvdulfj301c01cdfm.jpg" />
                                  </div>
                              </div>
                          </div>
                      </div>
              	</div>
      		</div>
  	    </div>
      </div>
  </section>
<!--  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>北京朝阳建外SOHO</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>info@18koffer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
